@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

@import "tailwindcss";

*{
   font-family: "Armata", sans-serif;
}

@theme{
  --color-primary : #4fbf8b ;
  --color-primary-dull : #44ae7c ;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}